superContent{
   width: 980px;
   margin: 0 auto;
   
}
#contentGeneral{
    width: 75%;
    margin: 0 auto;
    }
#top {
    background-color: #E6AC2F;
    color: white;
    padding: 15px 5px 5px 5px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

#topLeft{
    position: relative;
    float: left;
    background-color: #ffffff;
    background-image: url(./fondoTop.png);
    padding: 10px;
    margin: 5px;
    width: 70%;
    border:0px;
}
#logoBrasil{
    position:relative;
    float:right;
    margin-right: 20px;
}

#topRight{
    
    position: relative;
    float: right;
    background-color: #E6AC2F;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    width: 25%;
}

#topRightCuenta{
    position: relative;
    background-color: #E6AC2F;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    clear: both;
}

#topBarraDeNavegacion{
    position: relative;
    background-color: #E6AC2F;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    clear: both;
}

#topLogin{
    position: relative;
    background-color: #E6AC2F;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#topLogo{
    position: relative;
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    clear: both;
}

#content{
    background-color:#437188;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    clear: both;
    overflow: hidden;
}

#contentRight{
    position: relative;
    float: right;
    background-color: #437188;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    width: 25%;
    overflow: hidden;
}

#contentCenter{
    position: relative;
    float: left;
    background-color: #FCEE84;
    padding: 10px;
    margin: 5px;
    width: 70%;
    overflow: hidden;
}

#contentCenterTabla{
    position: relative;
    alignment-adjust: central;
    background-color: #c2dfef;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    width: 75%;
    clear: both
}

#bottom {
    background-color: #E6AC2F;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: both;
    overflow: hidden;
}